.TodoEditor {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 30px;
    /* margin: 0 auto; */
}

.TodoEditor__textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    /* Разрешить изменение размера по вертикали */
}

.TodoEditor__button {
    padding: 10px 20px;
    background-color: #007bff;
    /* Синий цвет кнопки */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.TodoEditor__button:hover {
    background-color: #0056b3;
    /* Темно-синий цвет при наведении */
}