.TodoList {
  width: 400px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  
}



.TodoList__text {
  margin-right: 5px;
}

.TodoList__item--comleted .TodoList__text {
  text-decoration: line-through;
}