.Counter__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Counter__controls button {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
